astropy==7.0.1
astropy-iers-data==0.2025.2.24.0.34.4
astroquery==0.4.9.post1
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
html5lib==1.1
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.6.0
more-itertools==10.6.0
numpy==2.2.3
packaging==24.2
photoutils==0.0.1
pip==24.2
pyerfa==2.0.1.5
pyvo==1.6.1
pywin32-ctypes==0.2.3
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0
webencodings==0.5.1
